.content__wrapper
    .content__headline Sekce Kategorie
    .content__inside
        .content__row
            .button Přidat kategorii

        .content__row
            .table.table-3
                .table__header
                    .table__row
                        .table__col.table__col--2 Typ
                        .table__col.table__col--7 Název
                        .table__col.table__col--3 Produktů

                .table__row
                    .table__col.table__col--4 Whirlpool
                    .table__col.table__col--5 Bezchlórová desinfekce
                    .table__col.table__col--3 10
                .table__row
                    .table__col.table__col--1 Whirlpool
                    .table__col.table__col--9 Bezchlórová desinfekce
                    .table__col.table__col--2 10
                .table__row
                    .table__col.table__col--1 Whirlpool
                    .table__col.table__col--9 Bezchlórová desinfekce
                    .table__col.table__col--2 10

