.content__wrapper
    .content__headline Problémy
    .content__inside
        .content__row
            .button Přidat problém

        .content__row
            input.content__filter(type="text" placeholder="Filtrování problémů")

        .content__row
            .table
                .table__header
                    .table__row
                        .table__col.col--12 Název
                .table__row
                    .table__col.col--12.filter(data-search="Bílá voda") Bílá voda
                .table__row
                    .table__col.col--12.filter(data-search="Bílá voda") Bílá voda
                .table__row
                    .table__col.col--12.filter(data-search="Bílá voda") Bílá voda
                .table__row
                    .table__col.col--12.filter(data-search="Bílá voda") Bílá voda
                .table__row
                    .table__col.col--12.filter(data-search="Bílá voda") Bílá voda
                .table__row
                    .table__col.col--12.filter(data-search="Bílá voda") Bílá voda
