.content__wrapper
    .content__headline Produkty
    .content__inside

        .content__row
            input.content__filter(type="text" placeholder="Filtrování produktů")

        .content__row
            .table.table-3
                .table__header
                    .table__row
                        .table__col.table__col--2 ID
                        .table__col.table__col--9 Název
                        .table__col.table__col--1 Cena
                .table__row
                    .table__col.table__col--2 Whirlpool
                    .table__col.table__col--9(data-search="Bezchlórová desinfekce") Bezchlórová desinfekce_
                    .table__col.table__col--1 10
                .table__row
                    .table__col.table__col--2 Whirlpool
                    .table__col.table__col--9(data-search="Bezchlórová desinfekce") Bezchlórová desinfekce_
                    .table__col.table__col--1 10
                .table__row
                    .table__col.table__col--2 Whirlpool
                    .table__col.table__col--9(data-search="Bezchlórová desinfekce") Bezchlórová desinfekce_
                    .table__col.table__col--1 10
                .table__row
                    .table__col.table__col--2 Whirlpool
                    .table__col.table__col--9(data-search="prdel") bagr
                    .table__col.table__col--1 10
                .table__row
                    .table__col.table__col--2 Whirlpool
                    .table__col.table__col--9(data-search="lopate") lopata
                    .table__col.table__col--1 10
                .table__row
                    .table__col.table__col--2 Whirlpool
                    .table__col.table__col--9(data-search="Bezchlórová desinfekce") Bezchlórová desinfekce_
                    .table__col.table__col--1 10
