html
    body
        div
            a(href="/static/categories.html") kategorie
        div
            a(href="/static/kategorie_detail.html") kategorie-detail
        div
            a(href="/static/components.html") komponenty
        div
            a(href="/static/products.html") produkty
        div
            a(href="/static/product_detail.html") Detail produktu
        div
            a(href="/static/problems.html") Problémy
        div
            a(href="/static/problem_detail.html") Problémy - detail
        div
            a(href="/static/users.html") Uživatelé
        div
            a(href="/static/user_detail.html") Uživatelé-detail
